#header {
    background-image: url("https://p0.zoon.ru/preview/cQCtPXChS_h_0CtthQQ_DA/2400x1500x75/1/f/4/original_55b8fe05a7e68fc3248b456d_575fceb73ac22.jpg");
    background-clip: padding-box;
    background-size: cover;
    height: 720px;
    .nav {
        background-color: grey;
        background-clip: padding-box;
        opacity: .7;
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5rem 0;
            font-size: 1.2rem;
            width: 14%;
            &--img {
                width: 10rem;
            }
            .nav-link {
                padding: 0;
                color: black;
                &:hover {
                    color: red;
                }
            }
        }
    }
}
